.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(161, 197, 233);
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-item {
  background: rgb(131, 184, 238);
  padding: 5px;
  width: 500px;
  height: 150px;
  margin-top: 10px;
}
